{
  "log": {
    "_recordingName": "TransactionInitializeSessionWebhookHandler/%p https://api.playground.klarna.com//'Order'/should work with partial payment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a14539678ebcf988b0cefaf5402efcb9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": {
              "intent": "buy",
              "locale": "PL",
              "merchant_data": "{\"transactionId\":\"555555\",\"channelId\":\"1\",\"orderId\":\"c29tZS1jaGVja291dC1pZA==\"}",
              "merchant_reference1": "555555",
              "merchant_reference2": "c29tZS1jaGVja291dC1pZA==",
              "order_amount": 2000,
              "order_lines": [
                {
                  "name": "product - product variant",
                  "quantity": 2,
                  "tax_rate": 2300,
                  "total_amount": 2000,
                  "total_tax_amount": 374,
                  "type": "digital",
                  "unit_price": 1000
                },
                {
                  "name": "some-shipping-name",
                  "quantity": 1,
                  "reference": "some-shipping-id",
                  "tax_rate": 2300,
                  "total_amount": 1000,
                  "total_tax_amount": 187,
                  "type": "shipping_fee",
                  "unit_price": 1000
                }
              ],
              "order_tax_amount": 561,
              "purchase_country": "SE",
              "purchase_currency": "SEK"
            }
          },
          "queryString": [],
          "url": "https://api.playground.klarna.com/payments/v1/sessions"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 145,
            "text": {
              "correlation_id": "37ca03fe-975a-4def-b7c7-01c4e0c96270",
              "error_code": "BAD_VALUE",
              "error_messages": [
                "Bad value: order_amount"
              ]
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "klarna-correlation-id",
              "value": "37ca03fe-975a-4def-b7c7-01c4e0c96270"
            },
            {
              "name": "render-time",
              "value": "11"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5, 5;w=1"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "3"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 162,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
