{
  "log": {
    "_recordingName": "TransactionInitializeSessionWebhookHandler/%p https://api-oc.playground.klarna.com//'Order'/should work",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d418e6eccec6af75e8edbf7189dbd5ec",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": {
              "intent": "buy",
              "locale": "PL",
              "merchant_data": "{\"transactionId\":\"555555\",\"channelId\":\"1\",\"orderId\":\"c29tZS1jaGVja291dC1pZA==\"}",
              "merchant_reference1": "555555",
              "merchant_reference2": "c29tZS1jaGVja291dC1pZA==",
              "order_amount": 22299,
              "order_lines": [
                {
                  "name": "product - product variant",
                  "quantity": 1,
                  "tax_rate": 2300,
                  "total_amount": 9999,
                  "total_tax_amount": 1870,
                  "type": "digital",
                  "unit_price": 9999
                },
                {
                  "name": "some-shipping-name",
                  "quantity": 1,
                  "reference": "some-shipping-id",
                  "tax_rate": 2300,
                  "total_amount": 12300,
                  "total_tax_amount": 2300,
                  "type": "shipping_fee",
                  "unit_price": 12300
                }
              ],
              "order_tax_amount": 4170,
              "purchase_country": "SE",
              "purchase_currency": "SEK"
            }
          },
          "queryString": [],
          "url": "https://api.playground.klarna.com/payments/v1/sessions"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-ratelimit-limit",
              "value": "5, 5;w=1"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "0"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1"
            }
          ],
          "status": 429,
          "statusText": "OK"
        },
        "time": 53,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
