{
  "log": {
    "_recordingName": "TransactionInitializeSessionWebhookHandler/%p https://api.playground.klarna.com//'Order'/should work",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7652c2eb03d7ceff602e1b7e4843a055",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": {
              "billing_address": {
                "city": "Washington",
                "country": "SE",
                "family_name": "Smith",
                "given_name": "John",
                "phone": "+48123456789",
                "postal_code": "20500",
                "region": "DC",
                "street_address": "1600 Ave NW",
                "street_address2": ""
              },
              "intent": "buy",
              "locale": "PL",
              "merchant_data": "{\"transactionId\":\"555555\",\"channelId\":\"1\",\"orderId\":\"c29tZS1jaGVja291dC1pZA==\"}",
              "merchant_reference1": "555555",
              "merchant_reference2": "c29tZS1jaGVja291dC1pZA==",
              "merchant_urls": {
                "authorization": "https://saleor.tofw.pl/api/webhooks/klarna/authorization?transactionId=555555&channelId=1&saleorApiUrl=https%3A%2F%2Fsaleor.localhost%3A8080%2Fgraphql%2F"
              },
              "order_amount": 22299,
              "order_lines": [
                {
                  "name": "product - product variant",
                  "quantity": 1,
                  "tax_rate": 2300,
                  "total_amount": 9999,
                  "total_tax_amount": 1870,
                  "type": "digital",
                  "unit_price": 9999
                },
                {
                  "name": "some-shipping-name",
                  "quantity": 1,
                  "reference": "some-shipping-id",
                  "tax_rate": 2300,
                  "total_amount": 12300,
                  "total_tax_amount": 2300,
                  "type": "shipping_fee",
                  "unit_price": 12300
                }
              ],
              "order_tax_amount": 4170,
              "purchase_country": "SE",
              "purchase_currency": "SEK",
              "shipping_address": {
                "city": "New York",
                "country": "US",
                "family_name": "Kowalski",
                "given_name": "Jan",
                "phone": "+48123456789",
                "postal_code": "10027",
                "region": "NY",
                "street_address": "3111 Broadway",
                "street_address2": ""
              }
            }
          },
          "queryString": [],
          "url": "https://api.playground.klarna.com/payments/v1/sessions"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 2813,
            "text": {
              "client_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6IjgyMzA1ZWJjLWI4MTEtMzYzNy1hYTRjLTY2ZWNhMTg3NGYzZCJ9.eyJzZXNzaW9uX2lkIjoiMzJiZmMxMWEtN2E0ZC01NjIyLTg1MGMtMDUwMjUwZTg4Y2MwIiwiYmFzZV91cmwiOiJodHRwczovL2pzLnBsYXlncm91bmQua2xhcm5hLmNvbS9ldS9rcCIsImRlc2lnbiI6ImtsYXJuYSIsImxhbmd1YWdlIjoiZW4iLCJwdXJjaGFzZV9jb3VudHJ5IjoiU0UiLCJlbnZpcm9ubWVudCI6InBsYXlncm91bmQiLCJtZXJjaGFudF9uYW1lIjoiWW91ciBidXNpbmVzcyBuYW1lIiwic2Vzc2lvbl90eXBlIjoiUEFZTUVOVFMiLCJjbGllbnRfZXZlbnRfYmFzZV91cmwiOiJodHRwczovL2V1LnBsYXlncm91bmQua2xhcm5hZXZ0LmNvb[...]
